<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<form class="" action="index.html" method="post">
Edits
<input type="button" name="name" value="" style="background: blue;">
<input type="hidden" id="lng" value="<%= @post.lng %>">
<input type="hidden" id="lat" value="<%= @post.lat %>">
</form>

<form class="location" action="index.html" method="post">
  Location:
  <input id="searchTextField" type="text" name="name" value="">
</form>
<div class="map">

</div>
 post/' + @post.id.to_s
<form class="" action=" <%= '/posts/' + @post.id.to_s %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="authenticity_token">
  Title:
  <input type="text" name="post[front]" value="<%= @post.front %>"><br>
  Card Back:
  <input type="text" name="post[back]" value="<%= @post.back %>">
  SlideShare iframe:
  <input type="text" name="post[slide]" value="<%=@post.slide %>">
  Video (youtube) iframe:
  <input type="text" name="post[video]" value="<%= @post.video %>">
  <input type="submit" name="name" value="Save">

</form>
</body>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>


</html>

  <script type="text/javascript">
  setTimeout(function() {
    gMap.initMap();
  }, 1000)

  </script>
