<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<% if @post.front %>
<h1><%= @post.front %> </h1>
<% end %>
<div class="map">

</div>
<div class="post-show-wrap">

<% if @post.video %>
<%= @post.video.html_safe %>
<% end %>


<% if @post.slide %>
<%= @post.slide.html_safe %>
<% end %>
<div class="post-show">

Awesome Content Here <br>

<% if flash[:error] %>
<%=   flash[:error] %>
<% end %>
<form class="" action="/memberships" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  <input type="hidden" name="post_id" value= <%= @post.id %>>
  <input type="submit" name="name" value="Join">
</form>

<form class="" action="/post_upvotes" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  <input type="hidden" name="post_id" value= <%= @post.id %>>
  <input type="submit" name="name" value="Upvote">
</form>


<%="post: " + @post.id.to_s %> <br>
<%= "text: " + @post.back %> <br>
<%= "upvotes: " + @post_upvotes.to_s %> <br>

<a href= <%= @post.id.to_s + "/edit" %> >edit</a>

<input id="lat" type="hidden" value= <%= @post.lat %> >
<input id="lng" type="hidden" value= <%= @post.lng %>>
</div>
</div>
</div>


<div class="picture-wrap">


     <ul id="sorts" class="Pictures">
        <% @post.users.each do |user| %>



           <li id=<%= "sort_" + @post.id.to_s %> >
             <div class="card effect_hover mentee">

               <div class="front">
        <% if user.authentications[0].image %>
                  <img src= <%= user.authentications[0].image %> alt="" />
        <% end %>

               </div>

               <div class="back ocean">
                 <p class="backtext">
                    <%= user.name %>
                 </p>
                 <form class="" action= <%= "/users/"+ user.id.to_s %> method="get">
                 <button type="submit" name="button">meet
               </button>
                   </form>
               </div>

             </div>
           </li>

          <% end %>


     </ul>
     <div class="wavelength">
       <p>
         Made in Bellingham.

         </p>
       <p>
         "If we are to have real peace we must begin with the children." -Mahatma Gandhi

       </p>
       </div>

   </div>  <!-- closes picture wrap  -->




<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>















</body>
</html>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" >
  $(document).ready(function(){
    // gMap.initialize();
    gMap.initMap();
  })

</script>
