<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<div class="map">

</div>
<div class="post-show-wrap">


<div class="post-show">

Awesome Content Here <br>
<form class="" action="/memberships" method="post">
  <input type="button" name="name" value="Join">

</form>
<%="post: " + @post.id.to_s %> <br>
<%= "text: " + @post.back %> <br>
<a href= <%= @post.id.to_s + "/edit" %> >edit</a>

<input id="lat" type="hidden" value= <%= @post.lat %> >
<input id="lng" type="hidden" value= <%= @post.lng %>>
</div>
</div>
</div>

</body>
</html>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" >
  $(document).ready(function(){
    // gMap.initialize();
    gMap.initMap();
  })

</script>
